@charset "UTF-8";
/*==================================================================
# 設定
================================================================= */

/* 色
-------------------------------------------------------------*/
$color-text-base: #121212;


/* レイアウト値
-------------------------------------------------------------*/
$layout-width-inner: 1210px;

/* ブレークポイント
-------------------------------------------------------------*/
 // マップ型変数breakpointsを定義
$breakpoints: (
    'sm': 'screen and (max-width: 425px)',
    'md': 'screen and (min-width: 426px) and (max-width: 767px)',
    'pc': 'screen and (min-width: 768px)',
    
) !default;

/* メディアクエリー
-------------------------------------------------------------*/
@mixin  mq($breakpoint: md) {
// map-get(マップ変数型,キー)で値を取得
@media #{map-get($breakpoints, $breakpoint)} {
    // この中をカスタムできる
    @content;
}

}

/*==================================================================
# 初期化
================================================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'sans-serif';
  font-size: 1.44rem;
  color: $color-text-base;
  line-height: 1.69444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-wrap: break-word;

  &.noscroll {
      overflow: hidden;
  }
}

img {
  max-width: 100%;
  vertical-align: bottom;
  height: auto;
  border: none;
}


/*==================================================================
#  補完クラス
================================================================= */

/* PCだけ非表示
-------------------------------------------------------------*/
.hidden-pc {
  @include mq('pc') {
    display: none;
  }
}

/*タブレットだけ非表示 
-------------------------------------------------------------*/
.hidden-md {
  @include mq('md') {
    display: none;
  }
}

/*スマホだけ非表示 
-------------------------------------------------------------*/
.hidden-sm {
  @include mq('sm') {
    display: none;
  }
}

/* セクション
-------------------------------------------------------------*/
.section {
    margin-top: 100px;
}
.section-title {
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;

    @include mq('sm'){
        font-size: 2.4rem;
    }
}

/* インナー
-------------------------------------------------------------*/
.inner {
    max-width: $layout-width-inner;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: content-box;

    @include mq('md'){
        padding: 0 20px;
    }
    @include mq('sm'){
        padding: 0 16px;
    }
}


/*==================================================================
# header
================================================================= */
.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100vw;
    z-index: 2;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;

    @include mq('md'){
        padding: 20px 24px;
    }
    @include mq('sm'){
        padding: 20px 16px;
    }
}
.header__logo {
    width: 175px;
}
.header__nav {
    position: fixed;
    top: 0;
    left: -300px;
    background-color: $color-text-base;
    width: 300px;
    height: 100%;
    padding: 60px 25px;
    transition: transform .3s;
    z-index: 10;
    
    &.open {
        left: 0;
        transition: transform .3s;
        z-index: 10;
    }
}

.header__list {
    border-top: 1px solid #fff;
}
.header__item {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}
.header__item__link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.header__sns__list {
    margin-top: 60px;
}
.header__sns__item {
    padding: 5px 0;
}
.header__sns__item__link {
    color: #fff;
}
.burger-btn {
    display: block;
    position: fixed;
    top: 25px;
    right: 45px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 5;

    @include mq('md'){
        right: 24px;    
    }
    @include mq('sm'){
        right: 16px;    
    }

    &.cross {
        .bar__top {
            background-color: #fff;
            transform: translateY(10px)rotate(45deg);
        }
        .bar__mid {
            opacity: 0;
        }
        .bar__bottom {
            background-color: #fff;
            transform: translateY(-10px)rotate(-45deg);
        }
    }
}
.bar {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all .5s;
}
.bar__top {
    top: 4px;
    z-index: 5;
}
.bar__mid {
    top: 14px;
    z-index: 5;
}
.bar__bottom {
    bottom: 4px;
    z-index: 5;
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
    display: none;
    cursor: pointer;
    z-index: 1;
}

/*==================================================================
# main
================================================================= */
/* first view
-------------------------------------------------------------*/
.first__view {
    
    video {
        width: 100%;
        z-index: 1;
    }
}


/* pickup
-------------------------------------------------------------*/
.pickup {

    overflow: hidden;
    margin: 100px auto 0;
}
.pickup__list {
    margin-top: 30px;

    @include mq('sm'){
        margin-top: 20px;
    }
}
.pickup__img {
    img {
        margin: 15px;/*画像の周りに余白*/
        width: 95%;/*横幅に制限*/
        border:0.5px solid #eee;/*周囲に薄いボーダー*/

        @include mq('md'){
            // margin: 5px;
            width: 95%;
        }
    }
}

/* feature
-------------------------------------------------------------*/
.feature {

}
.feature__list {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feature__item {
    width: 32.3471%;
    margin-bottom: 26px;
    box-shadow: 0px 0px 8px rgba(0,0,0,.16);

    @include mq('md'){
        width: 48%;
    }

    @include mq('sm'){
        width: 100%;
    }
}
.feature__item__link {

}
.feature__item-img {

    img {

    }
}
.feature__item__body {
    padding: 30px;
    color: $color-text-base;
}
.feature__item-category {
    font-size: 1.2rem;
}
.feature__item-text {
    margin-top: 20px;
    font-weight: 700;
}
.feature__item-date {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: right;
}

/* contact
-------------------------------------------------------------*/
.contact {
    margin-top: 60px;
    padding-top: 50px;
    background-color: $color-text-base;
    color: #fff;
}
.contact__wrapper {
    margin-top: 30px;
    @include mq('pc'){    
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: content-box;
}
}
.contact__left {
    display: block;
    flex: 0 1 45%;
}
.contact__left-text {
    margin-bottom: 30px;
}
.contact__content {
    flex: 0 0 45%;
}
.contact__list {

}
.contact__item {
    margin-bottom: 20px;
}
input[type=text],
textarea {
    height: 44px;
    width: 100%;
    padding: .2em .5em;
}
input[type=text] {
}
textarea {
    min-height: 68px;
    resize: vertical;
}
.contact__item-title {

}
.contact-input {

}
.submit-btn {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    background-color: $color-text-base;
    text-transform: uppercase;
    padding: 12px 80px;
    transition: .3s;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        color: $color-text-base;
        transition: .3s;
    }
}



/*==================================================================
# footer
================================================================= */
.footer {
    padding: 60px 20px 10px;
    background-color: $color-text-base;
}
.copyright {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
}